<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{ title }}</title>
</head>
<body>

  <header>
    <h1 data-name="{{ title | slugify }}">{{ title }}</h1>
  </header>
  <main>{{- content -}}</main>

</body>
</html>
