---
pagination:
  data: lorem
  size: 1
  alias: p
---

<article>
<h1>{{ title }}</h1>
{% renderTemplate "liquid,md", p %}
  ## {{ phrase | capitalize }}
  {{- content -}}
{% endrenderTemplate %}
</article>
